/* 
filename: style.css
author: 
created: 12/3/2024
last modified: 
description: 
*/


/* default css */
* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


/* body */
body {
    background-color: #FEF5ED;
    background-size: cover;
}


/* nav bar */
.banner {
    background-color: #D3E4CD;
    padding-top: 1px;
    padding-right: 5em;
}

.nav-bar {
    width: 100%;
    padding: 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 10em;
}

.nav-bar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.nav-bar ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.nav-bar ul li a::after {
    content: "";
    height: 0.2em;
    width: 0;
    background: #f00;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.25s;
}

.nav-bar ul li a:hover::after {
    width: 100%;
}
/* end nav-bar */


/* details */
.details img {
    width: 50%;
    display: inline-block;
}
/* end details */


/* job description box */
.job-box {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.job-description {
    background-color: transparent;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid #D3E4CD;
    max-width: 850px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    position: absolute;
    top: 75px;
    left: 20px;
}

.job-description h2 {
    font-size: 24px;
    color: #000000;
    margin-bottom: 10px;
}

.job-description p {
    font-size: 16px;
    font-weight: bold;
    color: #4b4949;
    line-height: 1.5;
}

.second-job {
    margin-top: 100px;
}
/* end job description */


/* footer */
footer p {
    display: inline-block;
    width: 25%;
    margin: 1em 5em 1em 5em;
}

footer a {
    text-decoration: none;
    color: black;
}

footer p:first-child {
    float: left;
}

footer p:last-child {
    float: right;
    text-align: right;
}
/* end footer */